* {
  margin: 0;
  padding: 0;
}

:root {
  --white-color: rgba(255, 255, 255, 1);
  --teritary-colors: rgba(12, 146, 39, 1);
  --accent-color2: rgba(250, 250, 250, 1);
}

.user-scanned-and {
  position: relative;
  width: 600px;
  height: 1184px;
  background-color: #ffffff;
}

.user-scanned-and .overlap-group {
  position: absolute;
  width: 600px;
  height: 875px;
  top: 107px;
  left: 0;
  background-color: var(--accent-color2);
}

.user-scanned-and .overlap {
  position: absolute;
  width: 528px;
  height: 485px;
  top: 29px;
  left: 36px;
}

.user-scanned-and .rectangle {
  position: absolute;
  width: 528px;
  height: 485px;
  top: 0;
  left: 0;
  background-color: var(--teritary-colors);
  opacity: 0.05;
}

.user-scanned-and .text-wrapper {
  position: absolute;
  top: 114px;
  left: 148px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--teritary-colors);
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.user-scanned-and .success {
  position: absolute;
  width: 142px;
  height: 88px;
  top: 27px;
  left: 193px;
  object-fit: cover;
}

.user-scanned-and .line {
  top: 186px;
  position: absolute;
  width: 499px;
  height: 1px;
  left: 15px;
  object-fit: cover;
}

.user-scanned-and .img {
  top: 277px;
  position: absolute;
  width: 499px;
  height: 1px;
  left: 15px;
  object-fit: cover;
}

.user-scanned-and .line-2 {
  top: 329px;
  position: absolute;
  width: 499px;
  height: 1px;
  left: 15px;
  object-fit: cover;
}

.user-scanned-and .line-3 {
  top: 409px;
  position: absolute;
  width: 499px;
  height: 1px;
  left: 15px;
  object-fit: cover;
}

.user-scanned-and .div {
  position: absolute;
  top: 202px;
  left: 24px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.user-scanned-and .text-wrapper-2 {
  position: absolute;
  top: 291px;
  left: 24px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.user-scanned-and .text-wrapper-3 {
  position: absolute;
  top: 347px;
  left: 24px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.user-scanned-and .text-wrapper-4 {
  position: absolute;
  top: 427px;
  left: 24px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.user-scanned-and .text-wrapper-5 {
  top: 287px;
  left: 229px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  font-size: 16px;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.user-scanned-and .text-wrapper-6 {
  top: 343px;
  left: 229px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  font-size: 16px;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.user-scanned-and .text-wrapper-7 {
  top: 423px;
  left: 229px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  font-size: 16px;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.user-scanned-and .text-wrapper-8 {
  position: absolute;
  top: 291px;
  left: 245px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.user-scanned-and .ICICI {
  position: absolute;
  top: 347px;
  left: 245px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.user-scanned-and .text-wrapper-9 {
  position: absolute;
  top: 427px;
  left: 245px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.user-scanned-and .text-wrapper-10 {
  position: absolute;
  top: 236px;
  left: 24px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.user-scanned-and .text-wrapper-11 {
  top: 236px;
  left: 454px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 18px;
  text-align: right;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.user-scanned-and .text-wrapper-12 {
  position: absolute;
  top: 200px;
  left: 408px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.user-scanned-and .lorem-ipsum-dolor {
  position: absolute;
  width: 548px;
  top: 589px;
  left: 26px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
}

.user-scanned-and .text-wrapper-13 {
  position: absolute;
  top: 545px;
  left: 26px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.user-scanned-and .text-wrapper-14 {
  top: 550px;
  left: 191px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.user-scanned-and .my-gold-logo {
  position: absolute;
  width: 90px;
  height: 78px;
  top: 15px;
  left: 255px;
}

.user-scanned-and .component {
  position: absolute;
  width: 600px;
  height: 202px;
  top: 982px;
  left: 0;
  background: linear-gradient(180deg, rgb(96, 18, 63) 0%, rgb(10, 26, 84) 100%);
}

.user-scanned-and .ic-baseline-facebook {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 61px;
  left: 198px;
}

.user-scanned-and .basil-instagram {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 61px;
  left: 368px;
}

.user-scanned-and .mdi-twitter {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 61px;
  left: 283px;
}

.user-scanned-and .vector {
  position: absolute;
  width: 30px;
  height: 24px;
  top: 6px;
  left: 2px;
}

.user-scanned-and .text-wrapper-15 {
  position: absolute;
  top: 13px;
  left: 258px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--white-color);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.user-scanned-and .text-wrapper-16 {
  position: absolute;
  top: 141px;
  left: 267px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--white-color);
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.user-scanned-and .text-wrapper-17 {
  position: absolute;
  top: 141px;
  left: 156px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--white-color);
  font-size: 12px;
  text-align: right;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.user-scanned-and .text-wrapper-18 {
  position: absolute;
  top: 141px;
  left: 368px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--white-color);
  font-size: 12px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}
