* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --white-color: rgba(255, 255, 255, 1);
  --teritary-colors: rgba(12, 146, 39, 1);
  --accent-color2: rgba(250, 250, 250, 1);
}

.mainContainer {
  max-width: 30rem;
  background-color: white;
  margin: auto;
  border: 1px solid black;
  overflow: hidden;
}
/* .container {
  margin: auto;
} */
.logoContainer {
  display: flex;
}
.logo {
  margin: auto;
}

.secondContainer {
  padding: 20px 30px;
}
.thirdContainer {
  padding: 20px 20px;
  background-color: #e0eee3;
  margin: 20px 0;
}
.titleImgCon {
  display: flex;
}
.titleImg {
  margin: auto;
  width: 200px;
}
.title {
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #0b9127;
  font-size: 32px;
  text-align: center;
}
.hLine {
  height: 0;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.recived {
  display: flex;
  justify-content: space-between;
  line-height: 20px;
}
.date {
  font-size: small;
}
.rupee {
  font-size: 14px;
  font-weight: 600;
}
.tax {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.tax > p {
  font-size: small;
}
.fourthContainer > h1 {
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 10px;
  margin-top: 20px;
}
.fourthContainer > p {
  font-size: small;
  font-family: "Roboto", sans-serif;
}

/* footer */

.footer {
  padding: 30px 30px;
  color: var(--white-color);
  background: linear-gradient(180deg, rgb(96, 18, 63) 0%, rgb(10, 26, 84) 100%);
}

.footerTitle {
  text-align: center;
  font-size: 14px;
}

.footerImg {
  margin-top: 15px;
  gap: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerPara {
  gap: 2rem;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  font-family: "Poppins-Regular", Helvetica;
}
